---
import { Feedbacks } from "../config";
import FeedbacksCard from "./feedbacks-card.astro";
---

<div class="h-screen w-full pt-10 max-w-5xl m-auto">
    <h1 class="text-5xl font-bold text-center">
        Khách hàng nói gì về chúng tôi
    </h1>
    <div class="w-full m-auto h-px bg-slate-300 mt-5">
        <div
            class="absolute w-1/4 z-10 left-1/2 -translate-x-1/2 bg-dark h-0.5"
        >
        </div>
    </div>

    <p class="text-center text-xl mt-5">
        Duis sed odio sit amet nibh vulputate cursus a sit amet mauris morbi
        accumsan ipsum velit.
    </p>

    <div class="mt-20 grid grid-cols-3 gap-5">
        {
            Feedbacks.map((feedback) => (
                <FeedbacksCard
                    title={feedback.title}
                    description={feedback.description}
                    avatar={feedback.avatar}
                    name={feedback.name}
                    job={feedback.job}
                />
            ))
        }
    </div>
</div>
